body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:900px;
  top:49px;
  width:320px;
  height:651px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:651px;
}
#u1 {
  position:absolute;
  left:2px;
  top:318px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:49px;
  width:320px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:69px;
  width:320px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:49px;
  width:320px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:103px;
  top:79px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:125px;
  top:80px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:101px;
  top:109px;
  width:318px;
  height:419px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:419px;
}
#u13 {
  position:absolute;
  left:2px;
  top:202px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:138px;
  top:488px;
  width:32px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:138px;
  top:488px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:392px;
  top:495px;
  width:23px;
  height:23px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:393px;
  top:496px;
  width:21px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:279px;
  top:495px;
  width:23px;
  height:23px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:282px;
  top:501px;
  width:17px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:2px;
}
#u25 {
  position:absolute;
  left:240px;
  top:270px;
  width:30px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_ann {
  position:absolute;
  left:263px;
  top:266px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:390px;
  top:78px;
  width:25px;
  height:25px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_ann {
  position:absolute;
  left:408px;
  top:74px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:500px;
  top:49px;
  width:320px;
  height:480px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u30 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:500px;
  top:69px;
  width:320px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:500px;
  top:49px;
  width:320px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:503px;
  top:79px;
  width:22px;
  height:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u36 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:525px;
  top:80px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:501px;
  top:109px;
  width:318px;
  height:419px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:419px;
}
#u40 {
  position:absolute;
  left:2px;
  top:202px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:538px;
  top:488px;
  width:32px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:538px;
  top:488px;
  width:30px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:792px;
  top:495px;
  width:23px;
  height:23px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:793px;
  top:496px;
  width:21px;
  height:21px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:679px;
  top:495px;
  width:23px;
  height:23px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:682px;
  top:501px;
  width:17px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:2px;
}
#u52 {
  position:absolute;
  left:640px;
  top:270px;
  width:30px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_ann {
  position:absolute;
  left:663px;
  top:266px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:790px;
  top:78px;
  width:25px;
  height:25px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_ann {
  position:absolute;
  left:808px;
  top:74px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:557px;
  top:108px;
  width:262px;
  height:420px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:420px;
}
#u57 {
  position:absolute;
  left:2px;
  top:202px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:564px;
  top:123px;
  width:157px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:564px;
  top:193px;
  width:131px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:793px;
  top:135px;
  width:25px;
  height:25px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:791px;
  top:206px;
  width:25px;
  height:25px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:746px;
  top:123px;
  width:37px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:746px;
  top:193px;
  width:37px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:557px;
  top:143px;
  width:31px;
  height:31px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:589px;
  top:150px;
  width:183px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:557px;
  top:213px;
  width:31px;
  height:31px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:589px;
  top:220px;
  width:183px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:500px;
  top:109px;
  width:57px;
  height:419px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:419px;
}
#u79 {
  position:absolute;
  left:2px;
  top:202px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:900px;
  top:69px;
  width:320px;
  height:40px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:900px;
  top:49px;
  width:320px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:903px;
  top:79px;
  width:22px;
  height:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:925px;
  top:80px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:903px;
  top:173px;
  width:320px;
  height:43px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u89 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:916px;
  top:235px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:916px;
  top:261px;
  width:117px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1046px;
  top:662px;
  width:30px;
  height:30px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:912px;
  top:123px;
  width:193px;
  height:19px;
  font-size:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:912px;
  top:193px;
  width:31px;
  height:31px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:955px;
  top:193px;
  width:222px;
  height:32px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:32px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:912px;
  top:152px;
  width:30px;
  height:30px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:955px;
  top:160px;
  width:79px;
  height:16px;
  color:#868686;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1011px;
  top:235px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#868686;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:912px;
  top:289px;
  width:298px;
  height:89px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:89px;
}
#u109 {
  position:absolute;
  left:2px;
  top:36px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:932px;
  top:301px;
  width:74px;
  height:66px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:66px;
}
#u111 {
  position:absolute;
  left:2px;
  top:25px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:917px;
  top:298px;
  width:39px;
  height:23px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:923px;
  top:302px;
  width:28px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1024px;
  top:303px;
  width:105px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1024px;
  top:327px;
  width:64px;
  height:16px;
  color:#434343;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1024px;
  top:349px;
  width:131px;
  height:16px;
  color:#434343;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:912px;
  top:383px;
  width:298px;
  height:89px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:89px;
}
#u123 {
  position:absolute;
  left:2px;
  top:36px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:932px;
  top:395px;
  width:74px;
  height:66px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:66px;
}
#u125 {
  position:absolute;
  left:2px;
  top:25px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:917px;
  top:392px;
  width:39px;
  height:23px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:923px;
  top:396px;
  width:28px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:1024px;
  top:397px;
  width:170px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1024px;
  top:421px;
  width:36px;
  height:16px;
  color:#434343;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1024px;
  top:443px;
  width:79px;
  height:16px;
  color:#434343;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:912px;
  top:479px;
  width:298px;
  height:89px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:89px;
}
#u137 {
  position:absolute;
  left:2px;
  top:36px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:932px;
  top:489px;
  width:74px;
  height:66px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:66px;
}
#u139 {
  position:absolute;
  left:2px;
  top:25px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:917px;
  top:486px;
  width:39px;
  height:23px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:923px;
  top:490px;
  width:28px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:1024px;
  top:491px;
  width:192px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:1024px;
  top:515px;
  width:41px;
  height:16px;
  color:#434343;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:1024px;
  top:539px;
  width:131px;
  height:16px;
  color:#434343;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:912px;
  top:573px;
  width:298px;
  height:89px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:89px;
}
#u151 {
  position:absolute;
  left:2px;
  top:36px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:932px;
  top:585px;
  width:74px;
  height:66px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:66px;
}
#u153 {
  position:absolute;
  left:2px;
  top:25px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:917px;
  top:582px;
  width:39px;
  height:23px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:923px;
  top:586px;
  width:28px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:1024px;
  top:587px;
  width:144px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:1024px;
  top:611px;
  width:22px;
  height:32px;
  color:#434343;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:1024px;
  top:633px;
  width:131px;
  height:16px;
  color:#434343;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:914px;
  top:287px;
  width:47px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u164_ann {
  position:absolute;
  left:954px;
  top:283px;
  width:1px;
  height:1px;
}
