body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:70px;
  width:320px;
  height:35px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:21px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:159px;
  top:488px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:124px;
  top:80px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#008000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:178px;
  top:80px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:233px;
  top:80px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:342px;
  top:80px;
  width:62px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:119px;
  top:98px;
  width:44px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:44px;
  height:3px;
}
#u19 {
  position:absolute;
  left:101px;
  top:104px;
  width:318px;
  height:135px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:135px;
}
#u20 {
  position:absolute;
  left:2px;
  top:60px;
  width:314px;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:412px;
  top:100px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:179px;
  top:238px;
  width:240px;
  height:70px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:101px;
  top:238px;
  width:79px;
  height:70px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:70px;
}
#u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:75px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:179px;
  top:307px;
  width:240px;
  height:70px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:70px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:101px;
  top:307px;
  width:79px;
  height:70px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:70px;
}
#u28 {
  position:absolute;
  left:2px;
  top:27px;
  width:75px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:179px;
  top:375px;
  width:240px;
  height:70px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:70px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:101px;
  top:375px;
  width:79px;
  height:70px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:70px;
}
#u32 {
  position:absolute;
  left:2px;
  top:27px;
  width:75px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:180px;
  top:486px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u34 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:486px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u36 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:260px;
  top:486px;
  width:81px;
  height:45px;
  font-size:12px;
  color:#008000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u38 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:340px;
  top:486px;
  width:80px;
  height:45px;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u40 {
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:160px;
  top:488px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:323px;
  top:495px;
  width:9px;
  height:9px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:287px;
  top:80px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:190px;
  top:260px;
  width:220px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:190px;
  top:286px;
  width:71px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:333px;
  top:286px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:190px;
  top:327px;
  width:220px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:190px;
  top:353px;
  width:71px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:333px;
  top:353px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:190px;
  top:396px;
  width:220px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:190px;
  top:422px;
  width:71px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:333px;
  top:422px;
  width:86px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:480px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u66 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:500px;
  top:70px;
  width:320px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:506px;
  top:80px;
  width:22px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:532px;
  top:82px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:500px;
  top:21px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:785px;
  top:78px;
  width:25px;
  height:25px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:501px;
  top:109px;
  width:318px;
  height:135px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:135px;
}
#u80 {
  position:absolute;
  left:2px;
  top:60px;
  width:314px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:506px;
  top:254px;
  width:57px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:506px;
  top:280px;
  width:184px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:14px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:506px;
  top:304px;
  width:304px;
  height:128px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:128px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:500px;
  top:488px;
  width:320px;
  height:42px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u88 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:511px;
  top:502px;
  width:69px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:641px;
  top:502px;
  width:69px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:734px;
  top:502px;
  width:69px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
