body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:900px;
  top:50px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:901px;
  top:314px;
  width:318px;
  height:216px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:216px;
}
#u3 {
  position:absolute;
  left:2px;
  top:100px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:480px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u5 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:101px;
  top:314px;
  width:318px;
  height:216px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:216px;
}
#u7 {
  position:absolute;
  left:2px;
  top:100px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:70px;
  width:320px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:116px;
  top:146px;
  width:40px;
  height:20px;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:160px;
  top:146px;
  width:40px;
  height:20px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:108px;
  top:80px;
  width:22px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:204px;
  top:146px;
  width:54px;
  height:20px;
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:130px;
  top:76px;
  width:280px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:140px;
  top:80px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:116px;
  top:120px;
  width:79px;
  height:16px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:480px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u27 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:500px;
  top:70px;
  width:320px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:508px;
  top:80px;
  width:22px;
  height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:534px;
  top:82px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:159px;
  top:82px;
  width:10px;
  height:20px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u37 {
  position:absolute;
  left:900px;
  top:70px;
  width:320px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:900px;
  top:50px;
  width:320px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:908px;
  top:80px;
  width:22px;
  height:22px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u42 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:930px;
  top:76px;
  width:280px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:940px;
  top:80px;
  width:20px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:966px;
  top:84px;
  width:14px;
  height:16px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1187px;
  top:78px;
  width:20px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:100px;
  top:22px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:500px;
  top:22px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:900px;
  top:22px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:580px;
  top:122px;
  width:100px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:745px;
  top:122px;
  width:65px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:514px;
  top:198px;
  width:40px;
  height:20px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:558px;
  top:198px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#00CC00;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:500px;
  top:228px;
  width:320px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u66 {
  position:absolute;
  left:510px;
  top:122px;
  width:50px;
  height:50px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:580px;
  top:148px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#666666;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:618px;
  top:148px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#666666;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:515px;
  top:178px;
  width:190px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#666666;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:580px;
  top:246px;
  width:100px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:745px;
  top:246px;
  width:65px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#666666;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:514px;
  top:324px;
  width:40px;
  height:20px;
  font-size:12px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:558px;
  top:324px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#00CC00;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:510px;
  top:248px;
  width:50px;
  height:50px;
  color:#999999;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u83 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:580px;
  top:274px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#666666;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:618px;
  top:274px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#666666;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:515px;
  top:304px;
  width:190px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#666666;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:15px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:980px;
  top:122px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1145px;
  top:122px;
  width:65px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#666666;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:914px;
  top:200px;
  width:40px;
  height:20px;
  font-size:12px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:958px;
  top:200px;
  width:40px;
  height:20px;
  font-size:12px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:910px;
  top:124px;
  width:50px;
  height:50px;
  color:#999999;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:980px;
  top:150px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#666666;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1018px;
  top:150px;
  width:35px;
  height:20px;
  font-size:10px;
  color:#666666;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:915px;
  top:180px;
  width:190px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#666666;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:500px;
  top:350px;
  width:320px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u107 {
  position:absolute;
  left:900px;
  top:226px;
  width:320px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
