<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[嘻嘻]</string>
	<string>[哈哈]</string>
	<string>[喜欢]</string>
	<string>[炫晕]</string>
	<string>[泪水]</string>
	<string>[馋嘴]</string>
	<string>[抓狂]</string>
	<string>[哼哼]</string>
	<string>[可爱]</string>
	<string>[愤怒]</string>
	<string>[汗水]</string>
	<string>[微笑]</string>
	<string>[睡觉]</string>
	<string>[金钱]</string>
	<string>[偷笑]</string>
	<string>[耍酷]</string>
	<string>[衰怨]</string>
	<string>[吃惊]</string>
	<string>[怒骂]</string>
	<string>[鄙视]</string>
	<string>[抠屎]</string>
	<string>[好色]</string>
	<string>[鼓掌]</string>
	<string>[悲伤]</string>
	<string>[思考]</string>
	<string>[生病]</string>
	<string>[亲亲]</string>
	<string>[抱抱]</string>
	<string>[白眼]</string>
	<string>[右哼]</string>
	<string>[左哼]</string>
	<string>[吹嘘]</string>
	<string>[委屈]</string>
	<string>[哈欠]</string>
	<string>[敲打]</string>
	<string>[疑问]</string>
	<string>[挤眼]</string>
	<string>[害羞]</string>
	<string>[哭了]</string>
	<string>[拜拜]</string>
	<string>[黑线]</string>
	<string>[强力]</string>
	<string>[软弱]</string>
	<string>[给力]</string>
	<string>[浮云]</string>
	<string>[围观]</string>
	<string>[威武]</string>
	<string>[相机]</string>
	<string>[汽车]</string>
	<string>[飞机]</string>
	<string>[爱心]</string>
	<string>[超人]</string>
	<string>[兔子]</string>
	<string>[熊猫]</string>
	<string>[不要]</string>
	<string>[ok]</string>
	<string>[点赞]</string>
	<string>[勾引]</string>
	<string>[哦耶]</string>
	<string>[爱你]</string>
	<string>[拳头]</string>
	<string>[差劲]</string>
	<string>[握手]</string>
	<string>[玫瑰]</string>
	<string>[心形]</string>
	<string>[伤心]</string>
	<string>[猪头]</string>
	<string>[咖啡]</string>
	<string>[喇叭]</string>
	<string>[月亮]</string>
	<string>[太阳]</string>
	<string>[啤酒]</string>
	<string>[卖萌]</string>
	<string>[礼物]</string>
	<string>[互粉]</string>
	<string>[时钟]</string>
	<string>[单车]</string>
	<string>[蛋糕]</string>
	<string>[围巾]</string>
	<string>[手套]</string>
	<string>[雪花]</string>
	<string>[雪人]</string>
	<string>[帽子]</string>
	<string>[树叶]</string>
</array>
</plist>
