body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:70px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:108px;
  top:80px;
  width:22px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:134px;
  top:82px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8_ann {
  position:absolute;
  left:192px;
  top:78px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:105px;
  top:156px;
  width:309px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u11 {
  position:absolute;
  left:105px;
  top:205px;
  width:309px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u12 {
  position:absolute;
  left:105px;
  top:257px;
  width:309px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u13 {
  position:absolute;
  left:105px;
  top:310px;
  width:309px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u14 {
  position:absolute;
  left:121px;
  top:133px;
  width:71px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:121px;
  top:183px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:121px;
  top:232px;
  width:27px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:115px;
  top:284px;
  width:40px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:105px;
  top:362px;
  width:309px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u23 {
  position:absolute;
  left:105px;
  top:410px;
  width:309px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u24 {
  position:absolute;
  left:105px;
  top:460px;
  width:309px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u25 {
  position:absolute;
  left:115px;
  top:336px;
  width:40px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:115px;
  top:386px;
  width:40px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:115px;
  top:434px;
  width:105px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:387px;
  top:125px;
  width:25px;
  height:25px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:387px;
  top:177px;
  width:25px;
  height:25px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:387px;
  top:228px;
  width:25px;
  height:25px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:387px;
  top:281px;
  width:25px;
  height:25px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:387px;
  top:332px;
  width:25px;
  height:25px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:387px;
  top:382px;
  width:25px;
  height:25px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:387px;
  top:430px;
  width:25px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:105px;
  top:510px;
  width:309px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:292px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:309px;
  height:1px;
}
#u46 {
  position:absolute;
  left:115px;
  top:483px;
  width:53px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:387px;
  top:480px;
  width:25px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:480px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u51 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:500px;
  top:70px;
  width:320px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:508px;
  top:80px;
  width:22px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:534px;
  top:82px;
  width:87px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:507px;
  top:120px;
  width:163px;
  height:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:14px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u60_ann {
  position:absolute;
  left:663px;
  top:116px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:507px;
  top:211px;
  width:276px;
  height:55px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:55px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:507px;
  top:277px;
  width:276px;
  height:135px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:135px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:507px;
  top:413px;
  width:276px;
  height:55px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:55px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:813px;
  top:308px;
  width:7px;
  height:70px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:70px;
}
#u69 {
  position:absolute;
  left:2px;
  top:27px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:510px;
  top:237px;
  width:300px;
  height:32px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:510px;
  top:144px;
  width:300px;
  height:48px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
