body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:120px;
  width:320px;
  height:35px;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:357px;
  top:128px;
  width:20px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:101px;
  top:210px;
  width:319px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u10 {
  position:absolute;
  left:347px;
  top:168px;
  width:70px;
  height:16px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:101px;
  top:270px;
  width:319px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u13 {
  position:absolute;
  left:116px;
  top:228px;
  width:40px;
  height:42px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u14 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:322px;
  top:230px;
  width:98px;
  height:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:210px;
  top:534px;
  width:110px;
  height:45px;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u18 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:534px;
  width:110px;
  height:45px;
  font-size:12px;
  color:#008000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u20 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:320px;
  top:534px;
  width:100px;
  height:45px;
  font-size:12px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:174px;
  top:254px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:100px;
  top:75px;
  width:320px;
  height:24px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:385px;
  top:124px;
  width:32px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:399px;
  top:128px;
  width:5px;
  height:5px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:399px;
  top:136px;
  width:5px;
  height:5px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:399px;
  top:144px;
  width:5px;
  height:5px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:101px;
  top:332px;
  width:319px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u36 {
  position:absolute;
  left:116px;
  top:290px;
  width:40px;
  height:42px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u37 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:174px;
  top:292px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:322px;
  top:292px;
  width:98px;
  height:16px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:174px;
  top:316px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:174px;
  top:230px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:404px;
  top:122px;
  width:8px;
  height:8px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:502px;
  top:100px;
  width:320px;
  height:480px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u50 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:502px;
  top:100px;
  width:320px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:502px;
  top:120px;
  width:320px;
  height:35px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:759px;
  top:128px;
  width:20px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:503px;
  top:210px;
  width:319px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u58 {
  position:absolute;
  left:749px;
  top:168px;
  width:70px;
  height:16px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:503px;
  top:270px;
  width:319px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u61 {
  position:absolute;
  left:518px;
  top:228px;
  width:40px;
  height:42px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:724px;
  top:230px;
  width:98px;
  height:16px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:612px;
  top:534px;
  width:110px;
  height:45px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u66 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:502px;
  top:534px;
  width:110px;
  height:45px;
  font-size:12px;
  color:#008000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u68 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:722px;
  top:534px;
  width:100px;
  height:45px;
  font-size:12px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u70 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:576px;
  top:254px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:502px;
  top:76px;
  width:320px;
  height:24px;
  font-size:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:787px;
  top:124px;
  width:32px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:801px;
  top:128px;
  width:5px;
  height:5px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:801px;
  top:136px;
  width:5px;
  height:5px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:801px;
  top:144px;
  width:5px;
  height:5px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:503px;
  top:332px;
  width:319px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u84 {
  position:absolute;
  left:518px;
  top:290px;
  width:40px;
  height:42px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u85 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:576px;
  top:292px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:724px;
  top:292px;
  width:98px;
  height:16px;
  color:#999999;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:576px;
  top:316px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:576px;
  top:230px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:683px;
  top:154px;
  width:135px;
  height:155px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:155px;
}
#u95 {
  position:absolute;
  left:2px;
  top:70px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:693px;
  top:158px;
  width:45px;
  height:32px;
  color:#CCCCCC;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:748px;
  top:160px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:694px;
  top:231px;
  width:22px;
  height:17px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:720px;
  top:233px;
  width:110px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:693px;
  top:257px;
  width:23px;
  height:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u105 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:720px;
  top:259px;
  width:85px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:796px;
  top:227px;
  width:8px;
  height:8px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u109 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:906px;
  top:100px;
  width:320px;
  height:480px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u112 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:906px;
  top:100px;
  width:320px;
  height:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:906px;
  top:120px;
  width:320px;
  height:35px;
  text-align:left;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:906px;
  top:77px;
  width:320px;
  height:24px;
  font-size:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:916px;
  top:124px;
  width:20px;
  height:24px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:906px;
  top:278px;
  width:319px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u122 {
  position:absolute;
  left:906px;
  top:390px;
  width:319px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u123 {
  position:absolute;
  left:926px;
  top:195px;
  width:22px;
  height:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u124 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:942px;
  top:195px;
  width:22px;
  height:22px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u126 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:958px;
  top:195px;
  width:22px;
  height:22px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u128 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:974px;
  top:195px;
  width:22px;
  height:22px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u130 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:990px;
  top:195px;
  width:22px;
  height:22px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u132 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:926px;
  top:306px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:926px;
  top:331px;
  width:22px;
  height:22px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u136 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:942px;
  top:331px;
  width:22px;
  height:22px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u138 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:958px;
  top:331px;
  width:22px;
  height:22px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u140 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:974px;
  top:331px;
  width:22px;
  height:22px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u142 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:990px;
  top:331px;
  width:22px;
  height:22px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u144 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1122px;
  top:315px;
  width:98px;
  height:16px;
  color:#999999;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:174px;
  top:195px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:115px;
  top:165px;
  width:42px;
  height:40px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:174px;
  top:167px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:153px;
  top:163px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:576px;
  top:195px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:517px;
  top:165px;
  width:42px;
  height:40px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u158 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:576px;
  top:167px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:555px;
  top:163px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u162 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:693px;
  top:278px;
  width:24px;
  height:24px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u164 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:721px;
  top:283px;
  width:85px;
  height:16px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:695px;
  top:202px;
  width:20px;
  height:20px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u168 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:720px;
  top:204px;
  width:110px;
  height:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:929px;
  top:226px;
  width:281px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:926px;
  top:169px;
  width:188px;
  height:16px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:953px;
  top:160px;
  width:22px;
  height:22px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u176 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1122px;
  top:198px;
  width:98px;
  height:16px;
  color:#999999;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:955px;
  top:292px;
  width:22px;
  height:22px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u180 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:929px;
  top:365px;
  width:281px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
