body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:180px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
  color:#008000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:340px;
  top:485px;
  width:80px;
  height:45px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u11 {
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:70px;
  width:320px;
  height:35px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:178px;
  top:325px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:178px;
  top:353px;
  width:195px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:342px;
  top:325px;
  width:60px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:390px;
  top:78px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:179px;
  top:383px;
  width:91px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:179px;
  top:411px;
  width:192px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:370px;
  top:385px;
  width:32px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:132px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u29 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:232px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u31 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:334px;
  top:158px;
  width:55px;
  height:55px;
  font-size:28px;
  color:#CCCCCC;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u33 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:118px;
  top:385px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:118px;
  top:325px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:100px;
  top:244px;
  width:320px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u39 {
  position:absolute;
  left:173px;
  top:265px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:173px;
  top:292px;
  width:188px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:118px;
  top:264px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:135px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:235px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:337px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:236px;
  top:264px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:242px;
  top:324px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:238px;
  top:122px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:480px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u58 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:500px;
  top:50px;
  width:320px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:580px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u62 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:500px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
  color:#008000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u64 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:660px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u66 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:740px;
  top:485px;
  width:80px;
  height:45px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u68 {
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:500px;
  top:70px;
  width:320px;
  height:35px;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:578px;
  top:325px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:578px;
  top:353px;
  width:195px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:742px;
  top:325px;
  width:60px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:790px;
  top:78px;
  width:20px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:579px;
  top:383px;
  width:91px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:579px;
  top:411px;
  width:192px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:770px;
  top:385px;
  width:32px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:532px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u86 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:632px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u88 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:734px;
  top:158px;
  width:55px;
  height:55px;
  font-size:28px;
  color:#CCCCCC;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u90 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:518px;
  top:385px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u92 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:518px;
  top:325px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u94 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:500px;
  top:244px;
  width:320px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u96 {
  position:absolute;
  left:573px;
  top:265px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:573px;
  top:292px;
  width:188px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:518px;
  top:264px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u101 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:535px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:635px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:737px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:636px;
  top:264px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:642px;
  top:324px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:638px;
  top:122px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:900px;
  top:50px;
  width:320px;
  height:480px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u115 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:900px;
  top:50px;
  width:320px;
  height:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:980px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u119 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:900px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
  color:#008000;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u121 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1060px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u123 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1140px;
  top:485px;
  width:80px;
  height:45px;
  font-size:12px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u125 {
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:900px;
  top:70px;
  width:320px;
  height:35px;
  text-align:left;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:978px;
  top:325px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:978px;
  top:353px;
  width:195px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1142px;
  top:325px;
  width:60px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1190px;
  top:78px;
  width:20px;
  height:20px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:979px;
  top:383px;
  width:91px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:979px;
  top:411px;
  width:192px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:1170px;
  top:385px;
  width:32px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:932px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u143 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1032px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u145 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1134px;
  top:158px;
  width:55px;
  height:55px;
  font-size:28px;
  color:#CCCCCC;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u147 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:918px;
  top:385px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u149 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:918px;
  top:325px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u151 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:900px;
  top:244px;
  width:320px;
  height:10px;
}
#u152_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u153 {
  position:absolute;
  left:973px;
  top:265px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:973px;
  top:292px;
  width:188px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:918px;
  top:264px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u158 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:935px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:1035px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1137px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:1036px;
  top:264px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u166 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1042px;
  top:324px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u168 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1038px;
  top:122px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:1300px;
  top:50px;
  width:320px;
  height:480px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u172 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1300px;
  top:50px;
  width:320px;
  height:20px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u174 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1380px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u176 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1300px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
  color:#008000;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u178 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:1460px;
  top:485px;
  width:81px;
  height:45px;
  font-size:12px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u180 {
  position:absolute;
  left:2px;
  top:15px;
  width:77px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:1540px;
  top:485px;
  width:80px;
  height:45px;
  font-size:12px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u182 {
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:1300px;
  top:70px;
  width:320px;
  height:35px;
  text-align:left;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u184 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:1378px;
  top:325px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:1378px;
  top:353px;
  width:195px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:1542px;
  top:325px;
  width:60px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:1590px;
  top:78px;
  width:20px;
  height:20px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u192 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:1379px;
  top:383px;
  width:91px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:1379px;
  top:411px;
  width:192px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:1570px;
  top:385px;
  width:32px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u199 {
  position:absolute;
  left:1332px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u200 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:1432px;
  top:158px;
  width:55px;
  height:55px;
  color:#CCCCCC;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u202 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1534px;
  top:158px;
  width:55px;
  height:55px;
  font-size:28px;
  color:#CCCCCC;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u204 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:1318px;
  top:385px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u206 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:1318px;
  top:325px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u208 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:1300px;
  top:244px;
  width:320px;
  height:10px;
}
#u209_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u209_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u209_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u210 {
  position:absolute;
  left:1373px;
  top:265px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:15px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:1373px;
  top:292px;
  width:188px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:1318px;
  top:264px;
  width:45px;
  height:45px;
  color:#CCCCCC;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u215 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1335px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:1435px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:1537px;
  top:221px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:1436px;
  top:264px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:1442px;
  top:324px;
  width:31px;
  height:18px;
  font-size:11px;
  color:#666666;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1438px;
  top:122px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u228 {
  position:absolute;
  left:500px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:900px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:100px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:1300px;
  top:21px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
